body {
    margin: 0;
    background-color: #1B244A;
    border: solid 1px white;
    border-radius: 4px;
}

.score {
    background: #0a0001;
    text-align: center;
    color: #F94F6D;
    width: 255px;
    height: 220px;
    margin: 20px;
    border-radius: 10px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 227px;
}

.container {
    display: flex;
    justify-content: space-around;
}

button {
    margin-top: 26px;
    background: none;
    font-family: 'Cursed Timer ULiL', sans-serif;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    border: solid 1px #9AABD8;
    color: #9AABD8;
    font-size: 25px;
}

h3 {
    margin-top: 68px;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: center;  
    color: #EEEEEE;
}

h1 {
    margin-top: 68px;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    text-align: center;  
    color: #ffef15; 
}

.btn {
    margin-top: 40px;
    margin-left: 45%;
    background: none;
    font-family: 'Cursed Timer ULiL', sans-serif;
    width: 170px;
    height: 70px;
    border-radius: 10px;
    border: solid 1px #9AABD8;
    color: #9AABD8;
    font-size: 25px;
}